.map {
    display: flex;
    width: 900px;
    height: 600px;
    border: 0;
    margin: auto;
    box-shadow:
        2px 2px 7px #555,
        -2px -2px 7px #555;
}

.title {
    font-size: 5rem;
    font-family: "Playfair Display";
    font-weight: bold;
    text-align: center;
}

.search-box {
    position: absolute;
    top: 20%;
    left: 1%;
    padding: 8px;
    width: 250px;
    border-radius: 25px;
}